.data-imane-status-normal{
	stroke-opacity:"0.1";
}
.data-imane-status-vulnerable{
	stroke-opacity:0.8;
	stroke:coral;
	fill-opacity:0.2;
	fill:coral;
}
.data-imane-status-compromised{
	stroke-opacity:0.8;
	stroke:red;
	stroke-width:8px;
	fill-opacity:0.4;
	fill:red;
}
.data-imane-status-infected{
	stroke-opacity:0.6;
	stroke:darkred;
	stroke-width:4px;
	fill-opacity:0.6;
	fill:darkred;
}


.data-imane-status-quarantined{
	stroke-opacity:0.8;
	stroke:darkgray;
	fill-opacity:0.3;
	fill:darkgray;
}
.systemview-tooltip{
	margin: 0.1;padding:0;
	border:1px solid gray;
	box-shadow: 4px 4px 4px -4px;
	background-color: infobackground;
	display: none;
	position: absolute;
}